
.addItem{
    width: 413px;
    height: 30px;
    background-color: rgb(21, 211, 154);
    color: whitesmoke;
    border-radius: 0.8rem;
    border-style: none;
    
    
}
.textarea{
    width: 400px;
    height: 40px;
    border-radius: 0.5rem;
    
}
#button{
    color:white
    
}
